/* Estilos do Site */

body {
    background-color: darkcyan;
}

.page-item.active .page-link {
    background-color: #0dcaf0;
}

.logoLogin {
    display: block;
    margin: auto;
}

.logoDesktop {
    display: block;
    margin: auto;
}

.logoMobile {
    display: none;
}

.bg1 {
    color: brown;
    background-color: gainsboro;
}

.table {
    border-color: darkgray!important;
}

.loginCard {
    width: 50%;
    display: block;
    margin: auto;
}

.bgBranco {
    background-color: white;
}


/* Para telas menores de 600 pixels */

@media screen and (max-width: 600px) {

    .loginCard {
        width: 100%;
    }

    .logoDesktop {
        display: none;
    }
    
    .logoMobile {
        display: block;
        margin:  auto;
    }

}